<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/pregame/pregame_css.css">
        <script src="/pregame/pregame_script.js"></script>
    </head>

    <body id="body">
        <form>
            <input type="hidden" value="<%= myUsername %>" id="username">
            <input type="hidden" value="<%= game._name %>" id="owner">
            <input type="hidden" value="<%= game._max_players %>" id="max_players">
        </form>

        <form id="startGame" action="/game/game" method="POST"> 
            <input type="hidden" name="owner" id="lobbyHost">
            <input type="hidden" name="username" id="myUsername">
        </form>

        <h1 id="banner"><%= game._name %>'s Game</h1>
        <p id="counter-display"><%= game._cur_players %> / <%= game._max_players %></p>

        <div id="player-div">
            <p>Players: </p>
            <% for (let i = 0; i < game._cur_players; i++) { %>
                <% if (i == 0) { %>
                    <div id="owner-player" class="individual-player">
                        <img src="/pregame/crown.png" alt="Owner" width="32" height="32">
                        <p id="owner_display" class="player-display"><%= game._name %></p>
                    </div>
                <% } else { %>
                    <div class="individual-player">
                        <img src="/pregame/kick.png" alt="Kick" width="32" height="32">
                        <p class="player-display"><%= game.current_players[i - 1] %></p>
                    </div>
                <% } %>
            <% } %>
        </div>  

        <% if (game._name == myUsername) {%>
            <div id="lobby-size-controls">
                <p>Select Lobby Size:</p>
                <div>
                    <label><input type="radio" name="lobbySize" value="5" onchange="changeMaxsize(5)" checked> 5 Players</label><br>
                    <label><input type="radio" name="lobbySize" value="6" onchange="changeMaxsize(6)"> 6 Players</label><br>
                    <label><input type="radio" name="lobbySize" value="7" onchange="changeMaxsize(7)"> 7 Players</label><br>
                    <label><input type="radio" name="lobbySize" value="8" onchange="changeMaxsize(8)"> 8 Players</label><br>
                    <label><input type="radio" name="lobbySize" value="9" onchange="changeMaxsize(9)"> 9 Players</label><br>
                    <label><input type="radio" name="lobbySize" value="10" onchange="changeMaxsize(10)"> 10 Players</label>
                </div>
            </div>

            <button onclick="startGame()">Start Game</button>
        <% }%>


        <form id="leaveGame" action="/" method="GET">
            <button onclick="leave()">Leave</button>
        </form>
        
        <div id="add-cards-controls">
            <div class="column">
                <div class="column-header">Good</div>
                <div class="card card-green">
                    <span>Merlin</span>
                    <span id="merlin-count" class="card-count">1/1</span>
                </div>

                <div class="card card-green">
                    <span>Percival</span>
                    <span id="percival-count" class="card-count">1/1</span>
                </div>

                <div class="card card-green">
                    <span class = "buttonable">Servants of Arthur</span>
                    <% if (game._name == myUsername) { %>
                    <div class="card-buttons">
                        <button type="button" onclick="updateCardCount('ServantsofArthur', 1)">+</button>
                        <button type="button" onclick="updateCardCount('ServantsofArthur', -1)">-</button>
                    </div>
                    <% } %>
                    <span class="card-count" data-count="ServantsofArthur"><%= game._goodCards.filter(elem => elem == "ServantsofArthur").length %>/5</span>
                </div>
            </div>
            
            <div class="column">
                <div class="column-header">Evil</div>
                <div class="card card-red">
                    <span>Assassin</span>
                    <span id="assassin-count" class="card-count">1/1</span>
                </div>

                <div class="card card-red">
                    <span class = "buttonable">Morgana</span>
                    <% if (game._name == myUsername) { %>
                    <div class="card-buttons">
                        <button type="button" onclick="updateCardCount('Morgana', 1)">+</button>
                        <button type="button" onclick="updateCardCount('Morgana', -1)">-</button>
                    </div>
                    <% } %>
                    <span class="card-count" data-count="Morgana"><%= game._evilCards.filter(elem => elem == "Morgana").length %>/1</span>
                </div>

                <div class="card card-red">
                    <span class = "buttonable">Oberon</span>
                    <% if (game._name == myUsername) { %> 
                    <div class="card-buttons">
                        <button type="button" onclick="updateCardCount('Oberon', 1)">+</button>
                        <button type="button" onclick="updateCardCount('Oberon', -1)">-</button>
                    </div>
                    <% } %>
                    <span class="card-count" data-count="Oberon"><%= game._evilCards.filter(elem => elem == "Oberon").length %>/1</span>
                </div>

                <div class="card card-red">
                    <span class = "buttonable">Mordred</span>
                    <% if (game._name == myUsername) { %> 
                    <div class="card-buttons">
                        <button type="button" onclick="updateCardCount('Mordred', 1)">+</button>
                        <button type="button" onclick="updateCardCount('Mordred', -1)">-</button>
                    </div>
                    <% } %>
                    <span class="card-count" data-count="Mordred"><%= game._evilCards.filter(elem => elem == "Mordred").length %>/1</span>
                </div>

                <div class="card card-red">
                    <span class = "buttonable">Minions of Mordred</span>
                    <% if (game._name == myUsername) { %> 
                    <div class="card-buttons">
                        <button type="button" onclick="updateCardCount('MinionsofMordred', 1)">+</button>
                        <button type="button" onclick="updateCardCount('MinionsofMordred', -1)">-</button>
                    </div>
                    <% } %>
                    <span class="card-count" data-count="MinionsofMordred"><%= game._evilCards.filter(elem => elem == "MinionsofMordred").length %>/3</span>
                </div>
            </div>
        </div> 
        
        <div id="total-card-count" style="text-align: center; margin-top: 10px;">
            <strong>
                <span id = "good-count">Good Cards:</span>
                <br>
                <span id = "evil-count">Evil Cards:</span>
            </strong>
        </div>

   </body> 
</html>